.header{
    display: flex;
    align-items: center;
    
    h2{
        font-size: 1.8em;
    }
}
.logo{
    height: 80px;
    width: 80px;
    background-image: url("./../../../public/cvLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.tasks{
    text-align: left;
}